<%include ./partials/head.ejs %>
<%include ./partials/navbar.ejs %>

<div class="jumbotron">
  <h1 class="display-4">NodeStrap</h1>
  <p class="lead">I created a small setup using node which sets all the necessary paths to use Bootstrap and jQuery.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="https://github.com/ptnerd/nodestrap" target="_blank" role="button">Learn more</a>
</div>

<%include ./partials/footer.ejs %>